@import "../assets/css/variable.scss";

// product page

.review {
  &-page {
    font-size: $font_size_base;
    margin-bottom: 4px;
  }

  // title page
  &-title {
    font-family: Pacifico;
    font-size: em(48px);
    line-height: 1.5;
    text-align: center;
    color: $review_title;
    margin-bottom: 32px;
    padding: 0 15px;
  }

  // review block
  &-block {
    padding: 80px 0;
    background: $review_block_1;
    position: relative;
    padding-bottom: 56px;

    .top_box_left,
    .top_box_right,
    .bot_box_left,
    .bot_box_right {
      width: 0px;
      height: 0px;
    }

    .top_box_right {
      border-style: solid;
      border-width: 0 1425px 50px 0;
      border-color: transparent #ffffff transparent transparent;
      position: absolute;
      top: 0;
    }

    .top_box_left {
      border-style: solid;
      border-width: 50px 0 0px 1439px;
      border-color: transparent transparent transparent #ffffff;
      position: absolute;
      top: 0;
    }

    .bot_box_right {
      border-style: solid;
      border-width: 0 1425px 100px 0;
      border-color: transparent transparent #ffffff transparent;
      position: absolute;
      bottom: 0;
    }

    // content video
    &-content {
      padding: 8px;
      background: $white;
      border-radius: 5px;
      max-width: 589px;
      margin-left: auto;
      margin-bottom: 24px;
    }

    &_img {
      position: relative;
      margin-bottom: 16px;

      .placeholder {
        width: 100%;
      }

      .trigger {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
    }

    &_des {
      max-width: 519px;

      margin: auto;

      p {
        line-height: 23px;
        font-size: 17px;
        text-align: center;
        color: $main_color;
      }
    }

    // content quote
    &-quote {
      position: relative;
      background: $white;
      border-radius: 5px;
      max-width: 589px;
      padding: 80px;
      margin-bottom: 24px;

      &_icon {
        position: absolute;
        right: 20px;
        top: -30px;
      }

      &_des {
        strong {
          color: $main_color;

        }
      }
    }

    // block video 1
    &_video_1 {
      padding-bottom: 50px;
      background: $review_block_1;
    }

    // block video 2
    &_video_2 {
      padding-bottom: 40px;
      padding-top: 24px;
      background: $review_block_2;

      .top_box_left {
        border-color: transparent transparent $review_block_2 transparent;
        border-width: 0 0 80px 1425px;
        margin-top: -80px;
      }
    }

    // block comment 1
    &_comment_1 {
      padding-bottom: 50px;
      padding-top: 40px;
      background: $review_block_3;

      .top_box_right {
        border-color: transparent transparent $review_block_3 transparent;
        border-width: 0 1425px 80px 0px;
        margin-top: -80px;
      }
    }

    // block comment 2
    &_comment_2 {
      padding-bottom: 50px;
      padding-top: 24px;
      background: $review_block_4;

      .top_box_left {
        border-color: transparent transparent $review_block_4 transparent;
        border-width: 0 0 80px 1425px;
        margin-top: -80px;
      }
    }
  }
}


@media (max-width: 991px) {
  .review {
    &-block {
      &_video_1 {
        padding-bottom: 32px;

        .review-block-content {
          margin: 24px auto;
        }

        .review-block_modal {
          text-align: right;
        }
      }

      &_comment_1 {
        padding-bottom: 40px;
      }

      &_video_2,
      &_comment_2 {
        .col-lg-6.position-relative {
          order: 2;
        }
      }

    }
  }
}

@media (max-width: 768px) {
  .review {
    &-page {
      font-size: $font_size_sm;
    }

    &-block {
      &_video_1 {
        padding-bottom: 14px;
      }

      &_video_2 {
        padding-bottom: 24px;

        .top_box_left {
          border-width: 0 0 40px 1425px;
          margin-top: -39px;
        }
      }

      &_comment_1 {
        padding-bottom: 8px;
      }

      &_comment_2 {
        .top_box_left {
          border-width: 0 0 40px 1425px;
          margin-top: -39px;
        }
      }

    }
  }
}

@media (max-width: 425px) {
  .review {
    &-block {
      &-quote {
        padding: 32px 24px;
      }
    }
  }
}
