@import "../assets/css/variable.scss";

.category {

  // category page
  &-page {
    font-size: $font_size_base;
  }

  // category pannel
  &-panel {
    margin-bottom: em(16px);
  }

  // breadscrumb
  &-breadcrumb {
    margin-bottom: em(48px);
  }

  &-title h1 {
    font-weight: bold;
    line-height: em(32px);
    font-size: em(32px);
    text-align: center;
    text-transform: uppercase;
    color: $main_color;
    margin-bottom: em(16px);
  }

  &_list {
    margin-right: -8px !important;
    margin-left: -8px !important;

    &_item {
      padding: 0 8px;
      margin-bottom: 16px;
    }
  }

  &-pagination {
    margin-bottom: em(80px);
    margin-top: em(24px);
  }
}

@media (max-width: 768px) {
  .category {
    &-page {
      font-size: $font_size_sm;
    }

    &-title h1 {
      line-height: 1.5em;
      margin-bottom: 1em;
    }

    &-breadcrumb {
      margin-bottom: 1em;
    }
  }

}
