<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="/public/img/favicon.ico" type="image/png" />
    <% include ../partials/head %>
    <link rel="stylesheet" href="/public/dist/home.css" />
</head>
<body>

  <% include ../partials/header %>

<main>
    <div class="jumbotron">
        <h1>This is day la home page</h1>
    </div>
</main>

<% include ../partials/footer %>

<script type="text/javascript" src="/public/dist/home.js"></script>
</body>
</html>
