@import '../assets/css/variable.scss';

.blog {
  &-block {
    font-size: $font_size_base;

    // title
    &_title {
      &_wrapper {
        display: inline-block;
        margin-bottom: em(72px);
        margin-top: em(72px);
      }

      h2 {
        background: $block_title_bg;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 12px 56px;
        font-size: em(40px);
        color: $block_title_color;
        border-radius: em(40px);
        font-family: Pacifico;

        img {
          margin-right: 24px;
        }
      }
    }

    // content
    &_content_wrapper {
      & > div {
        padding: 0 8px !important;
      }
    }

    // control
    &_control {
      padding-top: em(40px);
      padding-bottom: em(72px);

      a {
        width: 160px;
        line-height: 40px;
      }
    }

    // gray version
    &_gray {
      background: $block_bg_gray;

      .blog-block_title h2 {
        background: $white;
      }
    }

    &_first {
      .blog-block_title_wrapper {
        margin-top: em(30px);
      }
    }

    // blog item
    .blog-item {
      background: $white;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: em(16px);
      border-radius: 1px;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);

      // blog img
      &_img {
        width: 100px;
        min-height: 100px;
        min-width: 100px;
        background-position: 50%;
        background-size: cover;
        overflow: hidden;
        display: inline-block;
        position: relative;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          min-width: 100%;
          min-height: 100%;
          transform: translate(-50%, -50%);
          max-width: initial;
        }
      }

      &_content {
        width: calc(100% - 101px);
        padding: 8px 16px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        // blog title
        h5 {
          font-weight: bold;
          line-height: em(24px);
          font-size: em(16px);
          color: $main_color;
          margin-bottom: 0;
        }
      }

      // blog descip
      &_des {
        font-weight: normal;
        line-height: em(22px);
        font-size: em(12px);
        margin-bottom: 8px;
      }

      // blog button
      &_btn {
        line-height: 11px;
        font-size: 12px;
        text-align: center;
        text-decoration-line: underline;
        color: $blog_home_btn;
      }

      // blog main item
      &-main {
        min-height: 327px;

        .blog-item_img {
          width: 387px;
        }

        .blog-item_content {
          width: calc(100% - 387px);

          h5 {
            margin-bottom: em(16);
          }
        }
      }

      &-secondary {
        margin-bottom: 14px;
      }
    }
  }
}

@media (max-width: 769px) {
  .blog-block {
    font-size: $font_size_sm;

    // title
    &_title {
      h2 {
        img {
          margin-right: 0;
        }

        span {
          width: 100%;
        }
      }
    }

    .blog-item {
      .blog-item_img,
      .blog-item_content {
        width: 100%;

        img {
          width: 100%;
          position: initial;
          transform: none;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .blog {
    &-block {
      // title
      &_title {
        &_wrapper {
          display: inline-block;
          margin-bottom: em(30px);
          margin-top: em(30px);
        }

        h2 {
          padding: 8px 16px;
          font-size: em(30px);
        }
      }

      // control
      &_control {
        padding-top: em(20px);
        padding-bottom: em(48px);
      }
    }
  }
}
