@import './variable.scss';

// footer main
.footer {
  &-main {
    padding: 80px 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  }

  // company des
  &-company {
    margin-top: 32px;
    line-height: 20px;
    font-size: 13px;
    color: $text_company;
    margin-bottom: 16px;

    p {
      margin-bottom: 0;
    }
  }

  // copyright
  &-copyright {
    font-size: 12px;
    color: $text_copyright;
    margin-bottom: 16px;
  }

  // menu item
  &-menu-item {
    margin-bottom: 16px;

    &_title {
      h4 {
        font-weight: bold;
        line-height: 27px;
        font-size: 16px;
        text-transform: uppercase;
        color: $menu_tit;
        margin-bottom: 8px;
      }
    }

    &_content {
      ul {
        margin-bottom: 0;
      }

      a {
        line-height: 20px;
        font-size: 12px;
        color: $menu_item;
        transition: all 0.3s ease-in-out 0s;

        &:hover {
          color: $main_color;
        }
      }
    }
  }

  // footer social
  &-social {
    &_header {
      margin-bottom: 16px;

      h4 {
        font-weight: bold;
        line-height: normal;
        font-size: 16px;
        text-transform: uppercase;
        color: $menu_tit;
      }
    }

    &_item {
      transition: all 0.2s linear;
      border-radius: 100%;

      &:hover {
        transform: translate3d(0, -2px, 0);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      }
    }

  }
}

@media (max-width: 768px) {
  .footer {
    &-main {
      padding: 32px 0;
    }
  }
}
