@import './variable.scss';

.header {
  position: relative;

  .container {
    position: relative;
  }

  &-main {
    padding: 32px 0px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 1px;

    .navbar-toggler {
      color: $main_color;
      border-color: $main_color;
    }
  }

  // logo
  &-logo {
    margin-bottom: 8px;
  }

  // main menu
  &-menu {
    .navbar {
      padding: 0.5rem 0;
    }

    .nav-link {
      color: $nav_item_color;
      text-transform: uppercase;
      padding: 0 !important;
      margin-right: 16px;
      font-weight: 500;
      line-height: normal;
      font-size: 16px;
      display: flex;
      align-items: center;

      span {
        min-width: 40px;
        display: inline-block;
        text-align: center;
        margin-right: 5px;

        img,
        svg {
          min-height: 30px;
        }
      }



      .icon-active {
        display: none;
      }

      &:hover,
      &.active {
        color: $nav_item_color_hover;

        .icon-active {
          display: inline;
        }

        .icon-main {
          display: none;
        }
      }
    }

    .nav-item {
      position: relative;

      &:hover ul {
        max-height: 1000px;
        -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
        transform: perspective(400) rotate3d(0, 0, 0, 0);
      }

      &_trigger {
        display: none;
        position: absolute;
        right: 0;
        top: 0px;
        transform: rotate(90deg);
        width: 33px;
        height: 33px;
        z-index: 1;

      }
    }



    .nav-item_child {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      min-width: 182px;
      padding: 20px 16px;
      background: $white;
      max-height: 0;
      overflow: hidden;
      padding-bottom: 0px;
      -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
      transform: perspective(400) rotate3d(1, 0, 0, -90deg);
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      -webkit-transition: 350ms;
      -moz-transition: 350ms;
      -o-transition: 350ms;
      transition: 350ms;
    }

    .nav-item_item {
      .nav-link {
        font-weight: 500;
        line-height: em(19px, 13px);
        font-size: em(13px);
        text-transform: uppercase;
        margin-right: 0px;
        margin-bottom: 16px;
      }
    }


  }

  // form search
  &-search {
    position: relative;

    ::-webkit-input-placeholder {
      color: $white;
    }

    ::-moz-placeholder {
      color: $white;
    }

    :-ms-input-placeholder {
      color: $white;
    }

    :-moz-placeholder {
      color: $white;
    }

    // from search input
    &_input {
      position: absolute;
      background: $main_color;
      border: 1px solid $main_color;
      color: $white;
      border-radius: 24px;
      width: 0 !important;
      right: 0;
      height: 48px;
      padding-left: 20px;
      transition: all 0.3s ease-in-out 0s;

      &:focus,
      &:active {
        background: $main_color;
        border: 1px solid $main_color;
        color: $white;
      }
    }

    &_btn {
      width: 48px;
      height: 48px;
      background: $main_color;
      color: $main_color;
      border-color: $main_color;
      border-radius: 100%;
      z-index: 1;
      padding: 0;
      margin: 0 !important;
    }
  }
}

// hanle event nav
.header-menu {

  #mainav {
    .navbar-nav {
      transition: all 0.3s ease-in-out 0s;
      margin-right: 40px;
    }

    .navbar-link {
      transition: all 0.3s ease-in-out 0s;

      span {
        transition: all 0.3s ease-in-out 0s;
      }
    }

    &.showSearch {
      .navbar-nav {
        margin-right: 140px;

        .nav-link {
          margin-right: 8px;
        }
      }

      .header-search_input {
        width: 170px !important;
        background: $main_color;
        border: 1px solid $main_color;
        color: $white;
      }
    }
  }
}

@media (max-width: 1200px) and (min-width: 991px) {
  .header {
    &-menu {
      .nav-link {
        margin-right: 8px;
        font-size: 14px;
      }
    }
  }

  // hanle event nav
  .header-menu {
    #mainav {
      .navbar-nav {
        transition: none;
      }

      &.showSearch {
        .navbar-nav {
          transition: all 0.3s ease-in-out 0s;
          margin-right: 100px;

          .nav-link {
            margin-right: 4px;

            span {
              min-width: 30px;
            }
          }
        }

        .header-search_input {
          width: 130px !important;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .header {
    &-main {
      padding-bottom: 8px;
    }

    // logo
    &-logo {
      text-align: center;
    }

    // menu
    &-menu {
      .navbar-nav {
        padding-top: 8px;
        margin-right: 0 !important;
      }

      .nav-link {
        margin-bottom: 16px;
      }

      .nav-item_trigger {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .nav-item_child {
        position: relative;
        width: 100%;
        max-height: initial;
        transition: initial !important;
        transform: none !important;
        padding: 0 8px;
        display: none;
      }

    }

    &-search {
      &_input {
        position: relative;
        width: 100% !important;
        margin: 0 !important;
      }

      &_btn {
        position: absolute;
        right: 0;
      }

      &:hover,
      &.active {
        .header-search_input {
          width: 100% !important;
        }
      }
    }
  }
}
