$font_size_base: 16px;
$font_size_sm: 14px;
$font_size_xm: 12px;
$font_size_xxm: 10px;

@function em($pixels, $context: $font_size_base) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

// font 
$font: 'Montserrat';
$title: 'Pacifico';
// base color
$nocolor: transparent;
$white: #ffffff;
$black: #000000;
$gray: #757272;
$gray1: #979192;
$gray2: #E4E0E0;
$gray3: #C4C4C4;

// web color
$main_color: #F17298;
$pink_light: #FFEFF3;
$yellow_light: #FFC850;
$green_light: #42C1C7;
$orange: #F27280;

// home policy
$pink: #ffa8b4;
$pink1: #ff687d;
$green: #2FA98E;
$green1: #1E806A;
$yellow: #FBB04C;
$yellow1: #fa6922;

// button
$btn_shadow: $gray2;

// nav
$nav_item_color: $black;
$nav_item_color_hover: $main_color;

// policy
$policy_item_1: $pink;
$policy_item_1_btn: $pink1;
$policy_item_2: $green;
$policy_item_2_btn: $green1;
$policy_item_3: $yellow;
$policy_item_3_btn: $yellow1;

// footer
$text_company: $gray;
$text_copyright: $gray1;
$menu_tit: $gray;
$menu_item: $gray;

// home blog
$blog_home_bg: $pink_light;
$blog_home_btn: $green_light;

// home video
$video_home_bg: $yellow_light;

// breadcrumb
$breadcrumb_text: $black;
$breadcrumb_text_active: $main_color;


// blog
$block_title_bg: #FFEFF3;
$block_title_bg1: $white;
$block_title_color: $main_color;
$block_bg_gray: #F4F3F3;

// artilce
$article_title: $main_color;
$article_author: #555555;
$article_sidebar_title_bg: $pink_light;
$article_sidebar_title: $main_color;
$article_sidebar_item: $main_color;
$article_sidebar_item_border: #F7ADB5;

// blog detail
$blog_detail_bg: #E5E5E5;
$blog_detail_item_title: $main_color;

// page about
$about_idea_title: $main_color;
$about_product_bg: #DEFFF7;
$about_product_title: $main_color;
$about_logo_title: $main_color;

// page review
$review_title: $main_color;
$review_block_1: $yellow_light;
$review_block_2: #ECB7CB;
$review_block_3: #92D3D1;
$review_block_4: #FECAAD;

// review detail

$review_detail_sibar_quote_bg: #F4F3F3;
$review_detail_sibar_quote_tit: $main_color;

// event
$event_page_bg: #E5E5E5;

// contact
$contact_page_bg: #F4F3F3;
$contact_input_bg: #FFEFF3;
