@import "../assets/css/variable.scss";

// home main slider
.main-slider {
  &-wrapper {
    display: none;

    &.slick-initialized {
      display: block;
    }
  }

  &-item {
    img {
      margin: auto;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 16px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: center;

    button {
      width: 10px;
      height: 10px;
      background: $white;
      opacity: 0.7;
      border: none;
      margin: 0 12px;
      font-size: 0;
      border-radius: 100%;
    }

    .slick-active {
      button {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  .main-slider {
    .slick-dots {
      bottom: 4px;

      button {
        margin: 0 6px;
      }
    }
  }
}

// home policy
.main-policy {
  margin-top: 64px;

  .policy-item {
    background: $white;
    border-radius: 8px;
    position: relative;
    margin: 0 8px;
    min-height: 210px;
    margin-bottom: 16px;
    transition: all 0.2s linear;

    &:hover {
      transform: translate3d(0, -2px, 0);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    // policy icon
    &_icon {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    // policy content
    &_content {
      padding-right: 170px;
      padding-left: 16px;
      padding-bottom: 16px;

      h3 {
        font-weight: normal;
        line-height: 64px;
        font-size: 32px;
        text-transform: capitalize;
        color: $white;
      }

      p {
        font-weight: 500;
        line-height: 24px;
        font-size: 16px;
        text-transform: lowercase;
        color: $white;
      }

      button,
      a {
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        background: $gray;
        color: #ffffff;
        border-radius: 24px;
        height: 40px;
        width: 105px;
        border: none;
        box-shadow: -1px 1px 0px 1px $white !important;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    &_1 {
      background: $policy_item_1;

      button,
      a {
        background: $policy_item_1_btn;
      }

      .policy-item_icon {
        left: 0;
        right: auto;
      }

      .policy-item_content {
        padding-left: 170px;
        padding-right: 16px;
      }
    }

    &_2 {
      background: $policy_item_2;

      button,
      a {
        background: $policy_item_2_btn;
      }

      .policy-item_icon {
        right: 16px;
      }
    }

    &_3 {
      background: $policy_item_3;

      .policy-item_icon {
        max-width: 170px;
      }

      button,
      a {
        background: $policy_item_3_btn;
      }
    }
  }
}

@media (max-width: 1200px) and (min-width: 991px) {
  .main-policy .policy-item_content h3 {
    line-height: 48px;
    font-size: 26px;
  }

  .main-policy .policy-item_content {
    padding-right: 145px;
  }

  .main-policy .policy-item_1 .policy-item_content {
    padding-left: 145px;
    text-align: right;
  }
}

@media (max-width: 991px) {
  .main-policy .policy-item_1 {
    .policy-item_content {
      padding-left: 15px;
      padding-right: 170px;
    }

    .policy-item_icon {
      left: auto;
      right: 0;
    }
  }
}

@media (max-width: 768px) {
  .main-policy {
    margin-top: 24px;
  }
}

@media (max-width: 425px) {
  .main-policy .policy-item_content {
    padding-right: 145px;
  }

  .main-policy .policy-item_1 {
    .policy-item_content {
      padding-right: 145px;
    }
  }

  .main-policy .policy-item_2 .policy-item_icon {
    right: 0;
  }

  .main-policy .policy-item_icon {
    max-width: 145px !important;
  }
}

@media (max-width: 360px) {
  .main-policy .policy-item_content h3 {
    font-size: 24px;
  }
}

// product slide show
.product-slideshow {
  font-size: $font_size_base;
  margin-top: em(64);

  .slideshow {
    position: relative;

    // title
    &_title h2 {
      font-weight: bold;
      line-height: em(32px);
      font-size: em(32px);
      text-align: center;
      text-transform: uppercase;
      color: $main_color;
      margin-bottom: em(24px);
    }

    // content
    &_content {
      position: relative;

      .slick-list {
        padding: 5px 0;
      }
    }

    // item
    &_item {
      padding: 0 em(8px);
      outline: none;
    }

    // btn more
    &_btn {
      text-align: center;
      margin-top: em(32px);

      button {
        width: 160px;
        height: 40px;
        transition: all 0.2s linear;

        &:hover {
          transform: translate3d(0, -2px, 0);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .product-slideshow {
    font-size: $font_size_sm;
    margin-top: 2em;

    .slideshow_content {
      .slick-next {
        left: 6px;
      }

      .slick-prev {
        right: 6px;
      }
    }

    .slideshow_title h2 {
      line-height: 1.5em;
      margin-bottom: 1em;
    }

    .slideshow_btn {
      padding-bottom: 2em;
    }

    .product-item {
      font-size: $font_size_xm;
    }

    .slick-arrow {
      margin-top: -16px;
    }
  }
}

@media (max-width: 576px) {
  .product-slideshow {
    font-size: $font_size_xm;
  }
}

@media (max-width: 400px) {
  .product-slideshow {
    font-size: $font_size_xxm;
  }
}

// main home blog

.main-blog {
  padding: 72px 0;
  background: $blog_home_bg;

  &-wrapper {
    &>div {
      padding: 0 8px !important;
    }
  }

  // blog item
  .blog-item {
    background: $white;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;

    // blog img
    &_img {
      display: inline-block;
      width: 221px;
      // min-height: 160px;
      // position: relative;
      // overflow: hidden;

      // img {
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   min-width: 100%;
      //   min-height: 100%;
      //   transform: translate(-50%, -50%);
      // }
    }

    &_content {
      width: calc(100% - 221px);
      display: inline-block;
      padding: 24px;

      // blog title
      h5 {
        font-weight: bold;
        line-height: 24px;
        font-size: 16px;
        color: $main_color;
        margin-bottom: 8px;
      }
    }

    // blog descip
    &_des {
      font-weight: normal;
      line-height: 22px;
      font-size: 12px;
      margin-bottom: 8px;
    }

    // blog button
    &_btn {
      line-height: 11px;
      font-size: 12px;
      text-align: center;
      text-decoration-line: underline;
      color: $blog_home_btn;
    }

    // blog main item
    &-main {
      .blog-item_img {
        width: 384px;
      }

      .blog-item_content {
        width: calc(100% - 387px);
      }
    }

    &-secondary {
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 769px) {
  .main-blog {
    padding: 32px 0;

    .blog-item {

      .blog-item_img,
      .blog-item_content {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
}

.block-video {
  &-home {
    margin-top: 42px;
    padding: 80px 0;
    background: $video_home_bg;
    position: relative;
    overflow: hidden;
    padding-bottom: 56px;

    .top_box,
    .bot_box {
      width: 0px;
      height: 0px;
    }

    .top_box {
      border-style: solid;
      border-width: 0 1425px 50px 0;
      border-color: transparent #ffffff transparent transparent;
      position: absolute;
      top: 0;
    }

    .bot_box {
      border-style: solid;
      border-width: 0 0 100px 1425px;
      border-color: transparent transparent #ffeef3 transparent;
      position: absolute;
      bottom: 0;
    }
  }

  &-content {
    padding: 8px;
    background: $white;
    border-radius: 5px;
    max-width: 589px;
    margin-left: auto;
    margin-bottom: 16px;
  }

  &_img {
    position: relative;
    margin-bottom: 16px;

    .placeholder {
      width: 100%;
    }

    .trigger {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }

  &_des {
    max-width: 519px;

    margin: auto;

    p {
      line-height: 23px;
      font-size: 17px;
      text-align: center;
      color: $main_color;
    }
  }

  .block-video_modal_img {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .block-video_modal {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 991px) {
  .block-video {
    &-home {
      padding-bottom: 16px;

      .bot_box {
        border-style: solid;
        border-width: 0 0 60px 1425px;
        border-color: transparent transparent #ffeef3 transparent;
        position: absolute;
        bottom: 0;
      }
    }

    &-content {
      margin-right: auto;
    }

    &_modal {
      position: relative;
    }
  }
}

@media (max-width: 768px) {
  .block-video-home {
    // .top_box {
    //   border-width: 0 1425px 50px 0;
    // }

    .bot_box {
      border-width: 0 0 50px 1425px;
    }
  }
}
