@import "../assets/css/variable.scss";

.about {

  // page pannel
  &-panel {
    img {
      margin: auto;
    }
  }

  // page idea
  &-idea {
    font-size: $font_size_base;
    margin-bottom: 80px;
    margin-top: 40px;

    .container {
      max-width: 991px;
    }

    &_title {
      font-family: Pacifico;
      line-height: 1.5;
      font-size: em(48px);
      color: $about_idea_title;
      margin-bottom: 24px;
    }

    &_content {
      column-count: 2;
    }

  }

  // page product
  &-product {
    font-size: $font_size_base;
    background: $about_product_bg;
    padding-top: em(108px);
    padding-bottom: em(108px);

    &-list {

      // reset style
      .slick-track {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;

        .slick-slide {
          float: initial;
          height: auto;
        }
      }

      // item
      &_item {
        outline: none;
        box-shadow: none;
        text-align: center;

        .list_item_img img {
          margin: auto;
        }

        .list_item_title {
          font-weight: bold;
          font-size: em(18px);
          text-align: center;
          text-transform: uppercase;
          color: $about_product_title;
          margin-top: 48px;
        }
      }
    }


  }


  // page logo
  &-logo {
    font-size: $font_size_base;
    margin-top: 48px;
    margin-bottom: 108px;

    .container {
      max-width: 991px;
    }


    &_des {
      h2 {
        font-family: Pacifico;
        line-height: 1.5;
        font-size: em(48px);
        color: $about_idea_title;
        margin-bottom: 24px;
      }

    }

  }

}


@media (max-width: 769px) {
  .about {

    &-idea,
    &-logo {
      font-size: $font_size_sm;
    }

    &-idea {
      &_content {
        column-count: 1;
      }
    }

    &-product {
      .slick-next {
        left: 6px;
      }

      .slick-prev {
        right: 6px;
      }
    }

    &-logo {
      &_des {
        margin-bottom: 24px;
      }
    }
  }
}

@media (max-width: 480px) {
  .about {

    &-idea,
    &-logo {
      font-size: $font_size_xm;
    }

    &-idea {
      margin-top: 24px;
      margin-bottom: 32px;

      &_content {
        p {
          font-size: 1.5em;
        }
      }
    }

    &-logo {
      &_des {
        p {
          font-size: 1.5em;
        }
      }
    }
  }
}
