@import "../assets/css/variable.scss";

.event {

  &-page {
    background: $event_page_bg;
  }

  &-breadcrumb {
    margin-bottom: em(72px);

    .breadcrumb {
      margin-bottom: 0;
    }


  }

  &-block {
    font-size: $font_size_base;

    // title
    &_title {
      &_wrapper {
        margin-bottom: em(72px);
      }

      h2 {
        background: $block_title_bg;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 12px 56px;
        font-size: em(40px);
        color: $block_title_color;
        border-radius: em(40px);
        font-family: Pacifico;
        width: 100%;
        max-width: 521px;
        margin: auto;

        img {
          margin-right: 24px;
        }
      }
    }

    // content
    &_content_wrapper {
      justify-content: center;

      &>div {
        padding: 0 8px !important;
      }
    }

    // event item
    &-item {
      background: $white;
      margin-bottom: 16px;

      &_img img {
        width: 100%;
      }

      &_info {
        padding: em(24px) em(20px);

        h4 {
          font-weight: bold;
          line-height: 1.5;
          font-size: em(24px);
          color: $main_color;
          margin-bottom: 8px;
        }

        span {
          font-style: italic;
          line-height: 1.5;
          font-size: em(12px);
        }

        p {
          margin-top: 16px;
          font-size: em(16px);
        }
      }
    }

    // control
    &_control {
      padding-top: em(40px);
      padding-bottom: em(72px);

      a {
        width: 160px;
        line-height: 40px;
      }
    }
  }
}


@media (max-width: 769px) {

  .event-block {
    font-size: $font_size_sm;
  }
}

@media (max-width: 425px) {
  .event {

    &-breadcrumb {
      margin-bottom: em(30px);
    }

    &-block {

      // title
      &_title {

        &_wrapper {
          margin-bottom: em(30px);
        }

        h2 {
          padding: 8px 16px;
          font-size: em(30px);
        }
      }

      // control
      &_control {
        padding-top: em(20px);
        padding-bottom: em(48px);
      }
    }
  }
}
