@import '../assets/css/variable.scss';

.page-404 {
  .title-404 {
    font-size: 100px;
    line-height: 176px;
  }

  .title-404,
  .page-not-found {
    color: $orange;
    font-family: $title;
    font-style: regular;
  }

  .page-not-found {
    margin-bottom: 50px;
    font-size: 56px;
    line-height: 98px;
  }

  .btn-home {
    padding-top: 1.5em;
    padding-bottom: 4.5em;

    a {
      width: 160px;
      line-height: 40px;
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .page-404 {
    .title-404 {
      font-size: 80px;
      line-height: 156px;
    }

    .title-404,
    .page-not-found {
      color: $orange;
      font-family: $title;
      font-style: regular;
    }

    .page-not-found {
      margin-bottom: 30px;
      font-size: 26px;
      line-height: 78px;
    }

    .btn-home {
      padding-top: 1.5em;
      padding-bottom: 3.5em;

      a {
        width: 160px;
        line-height: 40px;
        font-size: 14px;
      }
    }
  }

}
