@import "../assets/css/variable.scss";

// product page

.product {
  &-page {
    font-size: $font_size_base;
    padding-top: em(24px);

    .container {
      max-width: 1024px;
    }
  }

  // image side
  &-images {

    // main image
    &-main {
      margin-bottom: 32px;

      img {
        width: 100%;
      }
    }

    // carousel
    &_carousel {
      margin-bottom: 8px;

      // carousel item
      &_item {
        padding-right: 15px;
        outline: none;
      }

      // _paging
      &_paging {
        position: relative;
        height: 100%;

        .slick-dots {
          display: flex;
          position: absolute;
          top: 50%;
          margin: 0;
          transform: translateY(-50%);

          li {
            display: flex;
            align-items: center;
          }

          button {
            font-size: 0;
            width: 12px;
            height: 12px;
            border-radius: 4px;
            background: $gray3;
            border-color: $gray3;
            margin: 0 4px;

            &:hover {
              border-color: $main_color;
              background: $main_color;
            }
          }

          .slick-active button {
            border-color: $main_color;
            background: $main_color;
          }
        }
      }
    }
  }

  // info product

  &-page-info {

    // title
    .product-title {
      margin-top: 0.5em;
      font-weight: bold;
      line-height: 1.5;
      font-size: em(32px);
      color: $main_color;
      margin-bottom: em(16px);
    }

    // varriant
    .product-variants {
      margin-bottom: em(32px);

      a {
        display: inline-block;
        background: $white;
        border: 1px solid $main_color;
        border-radius: 100px;
        padding: 8px 16px;
        color: $main_color;
        transition: all 0.2s linear;
        margin-right: em(8px);
        font-size: em(12px);

        &.active,
        &:hover {
          background: $main_color;
          color: $white;
        }
      }
    }

    .product-des {
      margin-bottom: em(32px);

      ul,
      ol,
      li {
        list-style: initial;
        padding-left: 15px;
      }
    }

    .product-control {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .product-price {
      font-size: em(32px);
      margin-right: 90px;
    }

    .product-addtocart {
      button {
        padding: 9px 34px;
        width: auto;
        height: auto;
        transition: all 0.2s linear;

      }
    }
  }

  // similar product
  &-similar {
    font-size: $font_size_base;
    margin-top: em(32px);

    .container {
      max-width: 1024px;
    }

    // title
    &_title {
      h2 {
        color: $main_color;
        margin-bottom: 1em;
        line-height: em(24px);
        font-size: em(24px);
      }
    }

    // list item
    &_list {
      margin-right: -8px !important;
      margin-left: -8px !important;

      &_item {
        padding: 0 8px;
        margin-bottom: 16px;
      }
    }
  }
}

@media (max-width: 769px) {
  .product {
    &-page {
      font-size: $font_size_sm;
    }

    // similar product
    &-similar {
      font-size: $font_size_sm;
    }
  }
}

@media (max-width: 360px) {
  .product {
    &-page {
      font-size: $font_size_xm;
    }

    &-similar {
      font-size: $font_size_xm;
    }

    &-page-info {
      .product-price {
        margin-right: 8px;
      }

      .product-addtocart {
        float: right;
      }
    }
  }
}
